h1 {
	font-family: Helvetica, Georgia, "Times New Roman", Times, serif;
	font-size: 2.3em;
	}

h2 {
	font-family: Helvetica, Georgia, "Times New Roman", Times, serif;
	font-size: 2em;
	}

h3 {
	font-family: Helvetica, Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	text-indent: 2cm;
	}

h4 {
	font-family: Helvetica, Georgia, "Times New Roman", Times, serif;
	font-size: 2em;
	text-indent: 2cm;
	}

h5 {
	font-family: Helvetica, Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	text-align: center;
	}

a:link {
	color: #0063DC;text-decoration:none;
	}

a:visited {
	color: #1057ae;text-decoration:none;
	}

a:hover {
	color: #FFF;background-color:#0063DC;text-decoration:none;
	}

a:active {
	color: #FFF;background-color:#0259C4;text-decoration:none;
	}

ul li {
	font-family: Helvetica, Georgia, "Times New Roman", Times, serif;
	}

ul#minitabs {
	list-style: none;margin: 0;padding: 7px 0;
	border-bottom: 1px solid #CCC;font-weight: bold;
	text-align: center;white-space: nowrap;
	}

ul#minitabs li {
	display: inline;margin: 0 12px;
	}

ul#minitabs a {
	text-decoration: none;padding: 0 0 3px;
	border-bottom: 4px solid #FFF;color: #999;
	}
	
ul#minitabs a#current {
	border-color: #ff0084;color: #000;
	}

ul#minitabs a:hover {
	border-color: #ff0084;color: #666; background-color:#fff;
	}
	
.pic.us {
	border: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #cccccc;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.gimage {
	color: #FFF;background-color:#fff;text-decoration:none;
	}

body {
	color: #222222;
	background-color: #fafafa;
	font-family: Helvetica, Georgia, "Times New Roman", Times, serif;
	margin-top: auto;
	margin-right: 8em;
	margin-bottom: auto;
	margin-left: 8em;
	padding-top: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	padding-left: 0pt;
}

#content
{
	background-color: #ffffff;
	padding-top: 1em;
	padding-right: 2em;
	padding-bottom: 1em;
	padding-left: 2em;
	margin-top: auto;
	margin-right: 2em;
	margin-bottom: auto;
	margin-left: 2em;
	border-right-width:thin;
	border-left-width:thin;
	border-right-color: #cccccc;
	border-left-color: #cccccc;
	border-style: solid;
	border-top-width: medium;
	border-top-style: none;
	border-bottom-width: medium;
	border-bottom-style: none;
	min-width: 518px;
}

.line { 
	margin-bottom:1em; 
	border-bottom:3px solid #cccccc; 
}